/Workshops/03112017CarDealer/CarDealer.Web/appsettings.json
/Workshops/03112017CarDealer/CarDealer.Web/Data/Configuration.cs
/Workshops/14112017CameraBazaar/CameraBazaar.Data.Models/CameraBazaar.Web/appsettings.json
/Workshops/14112017CameraBazaar/CameraBazaar.Web/CameraBazaar.Web/appsettings.json
/WorkingWithData/PostGreetest/appsettings.json
/Workshops/MoiteRecepti2/Web/MoiteRecepti2.Web/appsettings.json
/Workshops/MoiteRecepti2/Data/MoiteRecepti2.Data/appsettings.json
/WebApi/ExercisesBookShopService2017/ExercisesBookShopService2017/appsettings.json
/SecurityIdentity/CustomizeIdentityUser/CustomizeIdentityUser/appsettings.json
/SecurityIdentity/CreateAdminPanel/CreateAdminPanel/appsettings.json
/Workshops/May2019Panda/Panda.App/Panda.Data/Configure.cs
/Workshops/May2019Panda/Panda.App/Panda.App/appsettings.json
/Workshops/May2019Eventures/Eventures.Web/appsettings.json
/Workshops/May2019MessagesWebApi/Messages.Web/Messages.Web/appsettings.json
/GoodPractice/InitializeSeedingDataApproach/ApproachWithEmptyMigration/GlobalConstant.cs
/GoodPractice/InitializeSeedingDataApproach/ApproachWithDIMicrosoftVersion/appsettings.json
/WebApi/ConfigureJWTokenWithCredentials/ConfigureJWTokenWithCredentials/appsettings.json
/Workshops/May2019MessagesWebApi/ResourcesWithAuthentication/Message.Web/Messages.Web/appsettings.json
/Workshops/May2019Eventures/Eventures.Web/Eventures.Web/appsettings.json
/WebApi/WebApiDemo/WebApiDemo/appsettings.json
