/Workshops/03112017CarDealer/CarDealer.Web/appsettings.json
/Workshops/03112017CarDealer/CarDealer.Web/Data/Configuration.cs
/Workshops/14112017CameraBazaar/CameraBazaar.Data.Models/CameraBazaar.Web/appsettings.json
/Workshops/14112017CameraBazaar/CameraBazaar.Web/CameraBazaar.Web/appsettings.json
/WorkingWithData/PostGreetest/appsettings.json
