<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/reset-css.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-lg eventures-bg-color font-weight-bold">
                <div class="container">
                    <a class="navbar-brand text-black" href="/Home/Index">Eventures</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="navbar-brand text-black" href="/Home/Index">Home</a>
                            </li>
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item dropdown active" >
                                    <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Events
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Events" asp-action="All">All Events</a>
                                        <a class="dropdown-item" asp-controller="Events" asp-action="My">My Events</a>
                                        @if (User.IsInRole(GlobalConstants.AdminRoleName))
                                        {
                                            <a class="dropdown-item" asp-controller="Events" asp-action="Create">Create Event</a>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
            </nav>            
        </header>
    </div>
    <main text>
        @RenderBody()
    </main>
    <footer>
        <div class="eventures-bg-color container">
            <div class="p-2 text-center text-dark">
                &copy; Copyright Eventures Inc. 2018-2018. All rights reserved.
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>