@model PartFormViewModel
@{
    ViewData["Title"] = "Edit part";   
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <partial name="_PartForm" model="Model" view-data="ViewData" />
    </div>
</div>
