@{
    ViewData["Title"] = "Home Page";
}

<p><a href="\cache\imemorycache">Memory cache </a>.</p>
<p><a href="\cache\taghelpercache">Taghelper cache </a>.</p>
<p><a href="\cache\responsecachetest">response cache </a>.</p>

