@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Logging</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="btn-group-vertical">
        <a class="btn btn-info" href="logcategory" role="button">Loggin Category</a>
        <a class="btn btn-info" href="logcategory/category" role="button">Explicitly Loggin Category</a>
    </div>
    <div class="btn-group-vertical">
        <a class="btn btn-info" href="loglevel/index/1" role="button">Log Level</a>
        <a class="btn btn-info" href="loglevel/gettodoitem/1" role="button">Create information and Warning logs</a>
    </div>
    <div class="btn-group-vertical">
        <a class="btn btn-info" href="semanticorstructuredlogging" role="button">Structored or Semantic log</a>
        
    </div>
</div>


