@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject ApplicationFlowFiltersMiddleware.Services.IInstanceCounter InstanceSingletonCounter

<h1>@this.Configuration["HelloMessage"]</h1>
<h1>@this.Configuration["EmailServer:ServerUrl"]</h1>

<h1>Instances: @InstanceSingletonCounter.Instances </h1>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
